{% extends "templates/default.njk" %}

{% block content %}
    <div id="container">
        <h1>Enter Password</h1>
        <form method="post" action="/auth">
            <input name="password" required type="password" />
            <input type="submit" value="Submit">
        </form>
    </div>

    <footer>
        yoink, made with 💤 by <a href="https://jbritain.net">jbritain</a>
    </footer>

    <script defer>
        if (new URL(window.location.href).searchParams.get("invalid")) {
            window.alert("Incorrect password. Please try again.")
        }

        const favicon = document.getElementById("favicon");
        favicon.href = "/images/favicon_locked.png"
    </script>
{% endblock %}