<!DOCTYPE html>
<html>
    <head>
        <title>yoink</title>
    </head>

    <body>

        <button id="yoinkButton" onclick="yoink()">yoink</button>
        <p id="status">unknown</p>

        <script src="/main.js"></script>
    </body>

</html>