{% extends "templates/default.njk" %}

{% block content %}
    <div id="container">
        <h1>🖥️ {{name}}</h1>
        <h2><div id="indicator"></div><span id="status">unknown</span></h2>

        <button id="yoinkButton" onclick="yoink()">{{message}}</button>
    </div>

    <script>
        const statusInterval = {{statusInterval}};
        const onlineTimeout = {{onlineTimeout}};
    </script>
    <script src="/main.js"></script>
{% endblock %}