<!DOCTYPE html>
<html>
    <head>
        <title>yoink{% if name %} - {{ name }}{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/main.css">
        <link id="favicon" rel="icon" type="image/png" href="/images/favicon_unknown.png">
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>

    <footer>
        <a href="https://github.com/jbritain/yoink">yoink</a>, made with 💤 by <a href="https://jbritain.net">jbritain</a>
    </footer>

</html>